<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Bowling and Bonding</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/positioning.css">
        <link rel="stylesheet" href="../css/formstyle.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/XD_design.css">
	<style>
	    .mainText {
		margin: 60px;
		padding: 10px;
	    }
	</style>

    </head>
    <body style="width: 1280px; height: 1800px; border: 3px solid red">

	<article id="mainContent" class=" testing container">

	    <section class=" mainText MainTextCharStyle">
		Filler text (also placeholder text or dummy text) is text that shares some characteristics of a real written text, but is random or otherwise generated. It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter. The process of using filler text is sometimes called greeking, although the text itself may be nonsense, or largely Latin, as in Lorem ipsum.
	    </section>	
	</article>

    </body>
</html>