<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Bowling and Bonding</title>
        <link rel="stylesheet" href="../css/styles.css" type="text/css">
        <link rel="stylesheet" href="../css/positioning.css" type="text/css">
        <link rel="stylesheet" href="../css/formstyle.css" type="text/css">
        <link rel="stylesheet" href="../css/normalize.css" type="text/css">
	<link rel="stylesheet" href="../css/XD_design.css" type="text/css">
	<style>
/*	    .headerElement {
		position: absolute;
		height: 100%;
	    }
	    #headerBallWrap {
		width: 20%;
		height: 100%;
	    }
	    #headerBowlBall {
		width: 100px;
		height: auto;
		height: 100%;
		width: auto;
		left: 20%;
		bottom: 5px;
	    }
	    #headerTextWrap {
		right:0;
		width: 80%;
		padding:20px;
	    }*/
	</style>
    </head>
    <body>

	    <header class="primaryHeader">
	<span id="headerBallWrap" class="BorderColor hasBorder headerElement">
	    <img id="headerBowlBall" class="headerElement" alt="grey bowling ball drawing" src="../images/ballLogo_533x640.png" />
	</span>
		
	<span id="headerTextWrap" class="MainTitleColor hasBorder headerElement bkgColor3">
		Bowling and Bonding
	    </header>

		

    </body>
</html>