<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Bowling and Bonding</title>
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="../css/positioning.css">
	<link rel="stylesheet" href="../css/formstyle.css">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/XD_design.css">

	<style>

/*	    .navBar ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 5%;
		right: 5%;
	    }
	    li a {
		display: inline-block;
		text-decoration: none;
	    }

	    .li_nav {
		float: left;
		width: 15%;
	    }

	    .li_nav a:hover {
		border-bottom: 5px solid #B9AB42;
	    }

	    .navBar {
		padding-top: 5px;
		padding-bottom: 0;
		position: relative;
		height: 80px;
	    }*/


	</style>

    </head>
    <body>

	<hr class="BorderColor clearfix">
	<div class="navBar">

	    <ul>
		<li class="li_nav"><a href="">
			<div class="NavBarText hasBorder">
			    Events
			</div>
		    </a></li>
		<li class="li_nav"><a href="">
			<span class="NavBarText hasBorder">
			    Food & Drink
			</span>
		    </a></li>
		<li class="li_nav"><a href="">
			<span class="NavBarText hasBorder">
			    Leagues
			</span>
		    </a></li>
		<li class="li_nav"><a href="">
			<span class="NavBarText hasBorder">
			    Community
			</span>
		    </a></li>
		<li class="li_nav"><a href="">
			<span class="NavBarText hasBorder">
			    Directory
			</span>
		    </a></li>
		<li class="li_nav"><a href="">
			<span class="NavBarText hasBorder">
			    Contact
			</span>
		    </a></li>
	    </ul>
	</div>

	<hr class="BorderColor clearfix">


    </body>
</html>