<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Bowling and Bonding</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/positioning.css">
        <link rel="stylesheet" href="../css/formstyle.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/XD_design.css">
	<style>
	    body {padding:100px;}
	    
/*	    .NavBarText {
		background-color: #FFFFFF;
	    }
	    .NavBarText {
		height: 60px;
		width: 120px;
		display: inline-block;
		padding: 20px 0;
		margin: 5px;
		text-align: center;
	    }*/

	    
	</style>
    </head>
    <body>
	
	<span class="NavBarText hasBorder">
	    Navigate
	</span>
	
    </body>
</html>