<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Bowling and Bonding</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/positioning.css">
        <link rel="stylesheet" href="../css/formstyle.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/XD_design.css">
	<style>
/*	    .mainImages {
		width: 97%;
		padding: 5px 10%;
		display: block;
	    }*/
	</style>
    </head>
    <body style="width: 1280px; height: 1800px; border: 3px solid red">

	
	<div class="mainImages container">
		<img alt="Woman bowling" width="1005" src="../images/womanBowling_4288x2848.jpg"/>
	</div>
	
	<div class="clearfix testing container">
	    Content goes here
	</div>
    </body>
</html>